.library-song{
    display:flex;
    margin:.2rem;
    background-color: aliceblue;
    .song-left{
        img{
            width:100px;
            height:100px;
            cursor: pointer;
        }
    }
    .song-right{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        h2{
            padding:10px;
        }
    }
}