.library-song{
    display:flex;
    margin:.2rem;
    width:95%;
    background-color: aliceblue;
    cursor: pointer;
    .song-left{
        img{
            width:100px;
            height:100px;
        }
    }
    .song-right{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-left:.2rem;
        h2{
            padding:10px;
        }
    }
    &:hover{
        background-color: rgb(121, 214, 214);
    }
}
.active{
    background-color: rgb(121, 214, 214);
}