.library{
    position: fixed;
    left:0;
    top:0;
    width:20rem;
    height:100%;
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2{
        padding:1rem;
    }
}
.active{
    background-color: white;
    transform: translateX(0%);
    opacity:1;
}
.library-songs{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width:30%;
    }
}
*{
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: rgb(168, 163, 163) transparent;
}
*::-webkit-scrollbar{
    width:5px;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(100,100,100,0.5);
    border-radius: 20px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
// ::-moz-range-thumb { /* Styles the thumb of the input*/ 
//     background-color: rgba(100,100,100,0.5);
//     border-radius: 5px;
// }
::-moz-range-track { /* Styles the track of the input*/ 
    color:white;

}
::-moz-range-progress { /* Styles the progress/fill below the thumb of the input*/ }
