.player-container{
    width:50%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.timer-controls{
    width:50%;
    padding:1rem;
    background-color:wheat;
    display:flex;
    align-items: center;
    justify-content: space-between;
    input{
        border:20px solid red;
        background-color: aquamarine;
    }
    p{
        size:2x;
        width:100%;
    }
}
.play-controls{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    svg{
        cursor:pointer;
        width:50px;
        height:50px;
    }
}